<nav class="sidebar (light)">
    <ul>
        <li class="title">Opciones</li>
        <li class="divider"></li>
        <li class="stick bg-violet">
            <a href="{% url 'personal.views.index_estudiantes' %}">Listado de Estudiantes</a>
        </li>
        <li class="stick bg-blue">
            <a href="{% url 'personal.views.new_estudiante' %}">Nuevo Estudiante</a>
        </li>
        <li class="stick bg-pink">
            <a href="{% url 'personal.views.list_detail_estudiante' %}">Detalle Estudiante</a>
        </li>
        <li class="stick bg-yellow">
            <a href="{% url 'personal.views.change_estudiante' %}">Modificar Estudiante</a>
        </li>
    </ul>
</nav>