{% load humanize %}
<div class="row">
    <div class="span5">
        <p class="readable-text">
            <strong>Listado Estudiantes</strong>
        </p>
    </div>
    <div class="span5">
        <p class="readable-text">
            <strong>Nivel de Materia: </strong> {{ asignacion.materia.nivel|ordinal }} Nivel
        </p>
        <p>
            <strong>Docente: </strong>{{ asignacion.docente.persona.nombre }} {{ asignacion.docente.persona.paterno }} {{ asignacion.docente.persona.materno }}
        </p>
        <p>
            <strong>Materia: </strong>{{ asignacion.grupo.grupo }} -- {{ asignacion.materia.nombre }}
        </p>
    </div>
</div>
<div class="row">
    <div class="span11">
        <table class="table hovered border myClass">
            <thead>
                <tr>
                    <th width="30px">#</th>
                    <th>Cedula de Identidad</th>
                    <th>Nro. de Estudiante</th>
                    <th>Nombre Completo</th>
                    <th>1T.</th>
                    <th>2T.</th>
                    <th>3T.</th>
                    <th>PPA</th>
                    <th>EH</th>
                    <th>PPF</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for pro in programaciones %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ pro.inscripcion.estudiante.persona.ci }}</td>
                        <td>{{ pro.inscripcion.estudiante.nro_estudiante }}</td>
                        <td>{{ pro.inscripcion.estudiante.persona.paterno }} {{ pro.inscripcion.estudiante.persona.materno }}, {{ pro.inscripcion.estudiante.persona.nombre }}</td>
                        <td>{{ pro.priner }}</td>
                        <td>{{ pro.segundo }}</td>
                        <td>{{ pro.tercer }}</td>
                        <td>{{ pro.promedio }}</td>
                        <td>{{ pro.segundo_T }}</td>
                        <td>{{ pro.final }}</td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>