{% load humanize %}
<div class="row">
    <div class="span5">
        <p class="readable-text">
            <strong>Listado de Docentes</strong>
        </p>
    </div>
    <div class="span5">
        <p class="readable-text">
            <strong>Nivel de Materia: </strong> {{ nivel|ordinal }} Nivel
        </p>
    </div>
</div>
<div class="row">
    <div class="span11">
        <table class="table hovered border myClass">
            <thead>
                <tr>
                    <th width="30px">#</th>
                    <th>Docente</th>
                    <th>Materia</th>
                    <th>Grupo</th>
                </tr>
            </thead>
            <tbody>
                {% for asig in asignaciones %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ asig.docente.persona.nombre }} {{ asig.docente.persona.paterno }} {{ asig.docente.persona.materno }}</td>
                        <td>{{ asig.materia.nombre }}</td>
                        <td>{{ asig.grupo.grupo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>