<h3 class="text-center">{{ carrera.nombre|upper }} - Materias </h3>
<table class="table striped3n">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Sigla</th>
        <th>Grupo</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for materia in materias %}
        {% for g in materia.grupo.all %}
            <tr>
            <td>{{ materia.nombre }}</td>
            <td>{{ materia.sigla }}</td>
            <td>
                {{ g }}
            </td>
            <td>
                <a href="{% url 'gestion.views.add_materia_docente' docente.id materia.id g.id %}" class="button info">
                    <i class="fa fa-plus-circle"></i> Asignar
                </a>
            </td>
            </tr>
        {% endfor %}
    {% endfor %}
    
    </tbody>
</table>