{% extends 'base.html' %}
{% block title %}
Administrativos
{% endblock %}
{% block menu_izq %}
{% include 'gestion/__menu_izq.html' %}
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="span6">
        <p class="readable-text">
            <strong>Docente: </strong>{{ asignacion.docente.persona.nombre }} {{ asignacion.docente.persona.paterno }} {{ asignacion.docente.persona.materno }}
        </p>
        <p class="readable-text">
            <strong>Gestion: </strong>{{ request.session.gestion }}
        </p>
        <p class="readable-text">
            <strong>Nro. Estudiantes: </strong>{{ estudiantes.count }}
        </p>
    </div>
    <div class="span5">
        <p class="readable-text">
            <strong>Nro Item: </strong>{{ asignacion.docente.nro_docente }}
        </p>
        <p class="readable-text">
            <strong>Materia: </strong>{{ asignacion.materia.nombre|upper }}
        </p>
        <p class="readable-text">
            <strong>Sigla: </strong>{{ asignacion.materia.sigla|upper }}
        </p>
    </div>
</div>
<div class="row">
    <h2>Listado de Estudiantes</h2>
    <a href="{% url 'gestion.views.pdf_estudiantes_docente_materia' asignacion.id %}" class="button success">Ver PDF</a>
    <div class="span11">
        {% if estudiantes %}
            <table class="table hovered border myClass">
                <thead>
                    <tr>
                        <th width="30px">#</th>
                        <th>Cedula de Identidad</th>
                        <th>Nro. de Estudiante</th>
                        <th>Nombre Completo</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody>
                    {% for est in estudiantes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ est.persona.ci }}</td>
                            <td>{{ est.nro_estudiante }}</td>
                            <td>{{ est.persona.paterno }} {{ est.persona.materno }}, {{ est.persona.nombre }}</td>
                            <td>{{ est.persona.direccion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}

        {% endif %}
    </div>
</div>
{% endblock %}