{% extends 'base_reporte.html' %}
{% block cuerpo %}
    {% load helper_gestion %}
{% load humanize %}
<div class="row">
    <div class="span6">
        <p class="readable-text">
            <strong>Docente: </strong>{{ docente.persona.nombre }} {{ docente.persona.paterno }} {{ docente.persona.materno }}
        </p>
        <p class="readable-text">
            <strong>Gestion: </strong>{{ request.session.gestion }}
        </p>
    </div>
    <div class="span5">
        <p class="readable-text">
            <strong>Nro Item: </strong>{{ docente.nro_docente }}
        </p>
    </div>
</div>
{% for a in aulas %}
    <div class="row">
        <div class="span11">
            <h2>Aula  --  <strong>{{ a.nro|upper }}</strong></h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="span11">
            <table class="table hovered bordered">
                <thead>
                <tr>
                    <th width="50px">Hr.</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sabado</th>
                    <th>Domingo</th>
                </tr>
                </thead>
                <tbody>
                    {% for h in horas %}
                        <tr>
                            <td class="hora">{{ h }}</td>
                            <td class="">
                                {% if docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Lunes'|horario_hora:h %}
                                    {% for horario in docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Lunes'|horario_hora:h %}
                                        {{ horario.asignaciondocente.materia.sigla }}/{{ horario.asignaciondocente.grupo.abreviacion }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Martes'|horario_hora:h %}
                                    {% for horario in docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Martes'|horario_hora:h %}
                                        {{ horario.asignaciondocente.materia.sigla }}/{{ horario.asignaciondocente.grupo.abreviacion }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Miercoles'|horario_hora:h %}
                                    {% for horario in docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Miercoles'|horario_hora:h %}
                                        {{ horario.asignaciondocente.materia.sigla }}/{{ horario.asignaciondocente.grupo.abreviacion }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Jueves'|horario_hora:h %}
                                    {% for horario in docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Jueves'|horario_hora:h %}
                                        {{ horario.asignaciondocente.materia.sigla }}/{{ horario.asignaciondocente.grupo.abreviacion }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Viernes'|horario_hora:h %}
                                    {% for horario in docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Viernes'|horario_hora:h %}
                                        {{ horario.asignaciondocente.materia.sigla }}/{{ horario.asignaciondocente.grupo.abreviacion }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Sabado'|horario_hora:h %}
                                    {% for horario in docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Sabado'|horario_hora:h %}
                                        {{ horario.asignaciondocente.materia.sigla }}/{{ horario.asignaciondocente.grupo.abreviacion }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Domingo'|horario_hora:h %}
                                    {% for horario in docente.id|asignacion_docente:request.session.gestion|asignacion_horarios_aula:a.id|horarios_dia:'Domingo'|horario_hora:h %}
                                        {{ horario.asignaciondocente.materia.sigla }}/{{ horario.asignaciondocente.grupo.abreviacion }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
<div class="row">
    <h3 class="text-center">Carga Horaria Semanal</h3>
    <div class="span11">
        <table class="table hovered bordered">
            <thead>
                <tr>
                    <th width="30px">#</th>
                    <th>Carrera</th>
                    <th>Materia</th>
                    <th width="8a0px">Sigla</th>
                    <th>Grupo</th>
                    <th>Nivel</th>
                    <th>Hora Semanal</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ materia.carrera}}</td>
                        <td>{{ materia.nombre }}</td>
                        <td>{{ materia.sigla }}</td>
                        <td>
                            {% grupo_docente_materia request.session.gestion docente.id materia_id=materia.id %}
                            {% for a in asignacion %}
                                {{ a.grupo.grupo }}
                            {% endfor %}

                        </td>
                        <td>{{ materia.nivel|ordinal }} Nivel</td>
                        <td>{% horas_docente_materia request.session.gestion docente.id materia_id=materia.id %} Hr.</td>
                    </tr>
                {% endfor %}
                <tr class="info">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td>{% horas_docente_total request.session.gestion docente.id %} Hr.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <div id="footerContent">
        Pagina <pdf:pagenumber>
    </div>
{% endblock %}