{% extends 'base.html' %}
{% block title %}
Gestiones
{% endblock %}
{% block menu_izq %}
{% include 'gestion/__menu_izq.html' %}
{% endblock %}
{% block cuerpo %}
<div class="row">
    <h2>Listado de Docentes</h2>
    <div class="span11">
        <table class="table hovered border myClass">
            <thead>
                <tr>
                    <th width="30px">#</th>
                    <th>Cedula de Identidad</th>
                    <th>Nro. de Docente</th>
                    <th>Nombre Completo</th>
                    <th>Dirección</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for doc in docentes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ doc.persona.ci }}</td>
                        <td>{{ doc.nro_docente }}</td>
                        <td>{{ doc.persona.paterno }} {{ doc.persona.materno }}, {{ doc.persona.nombre }}</td>
                        <td>{{ doc.persona.direccion }}</td>
                        <td style="padding-right: 0px !important;">
                            <a href="{% url 'gestion.views.asignar_materia_docente' doc.id %}" class="button success">
                                <i class="fa fa-plus-circle"></i>Asignar
                            </a>
                        </td>
                        <td style="padding-right: 0px !important;">
                            <a href="{% url 'gestion.views.materias_docente' doc.id %}" class="fg-black button warning">
                                <i class="fa fa-file-pdf-o"></i>Materias
                            </a>
                        </td>
                        <td style="padding-right: 0px !important;">
                            <a href="{% url 'gestion.views.horario_docente' doc.id %}" class="button">
                                <i class="fa fa-clock-o"></i>Horario
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}