{% extends 'base.html' %}
{% block title %}
{{ adm.persona.nombre|upper }} {{ adm.persona.paterno|upper }}
{% endblock %}
{% block menu_izq %}
{% include 'administrativos/__menu_izq.html' %}
{% endblock %}
{% block cuerpo %}
<div class="row">
    <h2><i class="fa fa-users"></i> <strong>Informacion de Administrativo</strong></h2>
    <div class="span3">
        <img src="/media/{{ adm.persona.avatar }}" alt="{{ adm.persona.nombre }}"/>
        <hr/>
        <p class="subheader-secondary text-center">{{ adm.persona.usuario.username }}</p>
        <hr/>
        <p><strong><i class="fa fa-clock-o"></i> Registrado el</strong> {{ adm.persona.usuario.date_joined|date:"d M Y" }}</p>
    </div>
    <div class="span7 bd-black">
        <h4 class="text-center">Datos Personales</h4>
        <p class="readable-text">
            <strong>Nombre Completo:</strong> {{ adm.persona.nombre }} {{ adm.persona.paterno }} {{ adm.persona.materno }}
        </p>
        <p class="readable-text">
            <strong>Cedula de Identidad:</strong> {{ adm.persona.ci }}
        </p>
        <p class="readable-text">
            <strong>Nro. de Item: </strong>{{ adm.nro_item }}
        </p>
        <p class="readable-text">
            <strong>Fecha de Nacimiento: </strong>{{ adm.persona.fecha_nac }}
        </p>
        <p class="readable-text">
            <strong>Telefono / Celular: </strong>{{ adm.persona.telefono }}
        </p>
        <p class="readable-text">
            <strong>Correo Electronico: </strong>{{ adm.persona.email }}
        </p>
        <p class="readable-text">
            <strong>Cargo: </strong>{{ adm.cargo }}
        </p>
    </div>
</div>
{% endblock %}