{% extends 'base.html' %}
{% block title %}
Docentes
{% endblock %}
{% block menu_izq %}
{% include 'aulas/__menu_izq.html' %}
{% endblock %}
{% block cuerpo %}
<div class="row">
    <h2>Listado de Aulas</h2>
    <div class="span11">
        <table class="table striped hovered">
            <thead>
            <tr>
                <th width="50px">#</th>
                <th>Nro. De Aula</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for aula in aulas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ aula.nro }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}