{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">
    <meta name="keywords" content="js, css, metro, framework, windows 8, metro ui"-->

    <link href="{% static 'css/metro-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/metro-bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/iconFont.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.css' %}" rel="stylesheet">
    <link href="{% static 'js/prettify/prettify.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'packicon/css/font-awesome.min.css' %}"/>

    <!-- Load JavaScript Libraries -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.widget.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'js/prettify/prettify.js' %}"></script>

    <!-- Metro UI CSS JavaScript plugins -->
    <script src="{% static 'js/metro.min.js' %}"></script>

    <!-- Local JavaScript -->
    <script src="{% static 'js/docs.js' %}"></script>

    <title>Incos | {% block title %}Inicio{% endblock %}</title>

    <style>
    </style>
</head>
<body class="metro">
    <header class="bg-dark">
        {% if user.is_authenticated %}
            {% if request.session.type == 'Estudiante' %}
                {% include '__menu_estu.html' %}
            {% endif %}
            {% if request.session.type == "Administrativo" or request.session.type == 'Admin' %}
                {% include '__menu.html' %}
            {% endif %}
            {% if request.session.type == "Docente" %}

            {% endif %}
        {% else %}
            {% include '__menu.html' %}
        {% endif %}
    </header>

    <div class="">
        <div class="container">
            <div class="grid">
                <div class="row">
                    <div class="span3">
                        {% block menu_izq %}
                            hola
                        {% endblock %}
                    </div>
                    <div class="span11">
                        {% if messages %}
                            <div class="notice">
                                {% for message in messages %}
                                    <div class="fg-white">
                                        {{ message|safe }}.
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% block cuerpo %}
                            <h1>Este Es El Cuerpo</h1>
                            {{ g }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-dark">
            <div class="container" style="padding: 10px 0;">

                <div class="grid no-margin">
                    <div class="row no-margin">
                        <div class="span3 padding10">
                            <img src="{% static 'images/incos.png' %}" alt="" class="polaroid" height="100px"/>
                        </div>
                        <div class="span6 padding10">
                            <h3 class="fg-white">UATF</h3>
                            <p class="fg-white">Universidad Autonoma Tomas Frias</p>
                        </div>
                        <div class="span3 padding10">
                            <a class="button danger " style="width: 100%; margin-bottom: 5px"  href="">Google Plus</a>
                            <a class="button info " style="width: 100%; margin-bottom: 5px"  href="">Facebook</a>
                            <a class="button warning " style="width: 100%; margin-bottom: 5px;"  href="">Twitter</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container tertiary-text bg-dark fg-white" style="padding: 10px">
                2015, INCOS &copy; por  <a href="" class="fg-yellow">Mario Laime</a>
            </div>
        </div>
    </div>

    <!--script src="{% static 'js/hitua.js' %}"></script-->

</body>
</html>