{% extends 'base.html' %}
{% block cuerpo %}
    {% block info_form %}{% endblock %}
    <div class="row">
        <div class="span7">
            <form action="" method="post">{% csrf_token %}
                <fieldset>
                    <legend>
                        {% block legend %}
                            Formulario
                        {% endblock %}
                    </legend>
                    {% block cuerpo_form %}
                        {% for field in formulario %}
                            {{ field.label_tag }}
                            <div class="input-control text{% if field.errors %} error-state{% endif %}" data-role="input-control">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <div class="balloon bottom bd-red bg-red">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            {% if field.help_text %}
                                <p class="fg-green">
                                    <small><span class="icon-alert"></span> {{ field.help_text }}</small>
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
        
                    <input type="submit" value="{% block submit %}Guardar{% endblock %}" class="button default"/>
                    <a href="{% block cancel %}javascript:history.go(-1){% endblock %}" class="button danger">Cancelar</a>
                </fieldset>
            </form>
        </div>
        <div class="span4">
            {% block derecha %}
            {% endblock %}
        </div>
    </div>
    <script>
    $(document).ready(function(){
        var campo = $('select');
        var div = campo.parent();
        div.removeClass('text');
        div.addClass('select');

        var campo = $('textarea');
        var div = campo.parent();
        div.removeClass('text');
        div.addClass('textarea');
    })
    </script>
    {% block js_script %}{% endblock %}
{% endblock %}