{% extends 'base.html' %}
{% block title %}
Carreras
{% endblock %}
{% block menu_izq %}
{% include 'carreras/__menu_izq.html' %}
{% endblock %}
{% block cuerpo %}
<div class="row">
    <h2>Listado de Carreras</h2>
    <div class="span11">
        {% if carreras %}
            {% for carrera in carreras %}
                <div class="row">
                    <div class="row">
                        <div class="span6">
                            <p class="readable-text">
                                <strong>Carrera: </strong>{{ carrera.nombre }}
                            </p>
                        </div>
                        <div class="span5">
                            <p class="readable-text">
                                <strong>Cantidad de Materias: </strong>{{ carrera.materia_set.select_related.count }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table hovered border">
                            <thead>
                            <tr>
                                <th width="50px">#</th>
                                <th>Nombre Materia</th>
                                <th>Sigla Materia</th>
                                <th>Nivel</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for materia in carrera.materia_set.select_related.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ materia.nombre }}</td>
                                    <td>{{ materia.sigla }}</td>
                                    <td>{{ materia.nivel }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        {% else %}
            {% if perms.carrera.add_carrera %}
                <a href="{% url 'carrera.views.new_carrera' %}" class="button warning">Registrar Carrera</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}