<nav class="sidebar (light)">
    <ul>
        <li class="title">Opciones</li>
        <li class="divider"></li>
        <li class="stick bg-violet">
            <a href="{% url 'inscripcion.views.index_inscripcion' %}">Inscripciones</a>
        </li>
        <li class="stick bg-blue">
            <a href="{% url 'inscripcion.views.select_carrera_inscripcion' %}">Nueva Inscripcion</a>
        </li>
        <li class="stick bg-pink">
            <a href="{% url 'inscripcion.views.estudiantes_carrera' %}">Estudiantes Carrera</a>
        </li>
    </ul>
</nav>