{% extends 'base.html' %}
{% block title %}
Gestiones
{% endblock %}
{% block menu_izq %}
{% include 'inscripcion/__menu_izq.html' %}
{% endblock %}
{% block cuerpo %}
<div class="row">
    <h2>Estudiantes Inscritos en la gestion {{ request.session.gestion }}</h2>
    <div class="span11">
        {% if inscripciones %}
            <table class="table hovered border myClass">
                <thead>
                    <tr>
                        <th width="30px">#</th>
                        <th>Cedula Identidad</th>
                        <th>Nro. Estudiante</th>
                        <th>Nombre Completo</th>
                        <th>Telefono</th>
                        <th>Fecha de Inscripcion</th>
                        <th>Carrera</th>
                    </tr>
                </thead>
                <tbody>
                    {% for insc in inscripciones %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ insc.estudiante.persona.ci }}</td>
                            <td>{{ insc.estudiante.nro_estudiante }}</td>
                            <td>{{ insc.estudiante.persona.nombre }} {{ insc.estudiante.persona.paterno }} {{ insc.estudiante.persona.materno }}</td>
                            <td>{{ insc.estudiante.persona.telefono }}</td>
                            <td>{{ insc.fecha_registro|date:"M, d" }}</td>
                            <td>{{ insc.carrera.nombre }}</td>
                        </tr>                    
                    {% endfor %}
                    
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}